/* table styles */
table.table {margin-bottom:15px;text-align:left;width:100%;border:1px solid #DDDDDD;font-size:12px;}
table.table  tr td, table.table tr th {border-bottom:1px solid #DDDDDD;line-height:normal;padding: 8px 10px;text-align: left;vertical-align: middle;}
table.table  tr td.small, table.table tr th.small {width:40px;text-align:center;}
table.table  tr td.small input[type="checkbox"], table.table tr th.small  input[type="checkbox"] {vertical-align:middle;}
table.table thead tr {background-color:#f5f5f5;}
table.table th {font-weight:bold;color: #305B7F;text-shadow: 1px 1px 0px rgba(255,255,255,1);}
table.table tbody tr.selected {background-color:#fdffea !important;}
.tableactions {float:left;}
.nopadding .tableactions {margin-left:10px;}
.tableactions select {height:22px;vertical-align:top;}
a.action {width:20px;height:20px;display:block;background:url("../images/action.png") 50% 50% no-repeat;outline:none;}
a.action:hover, a.action.active {width:18px;height:18px;background-color:#dbe3f2;border:1px solid #aeb6c2;}
.opmenu {position:absolute;z-index:1;width:120px;background: url("../images/opmenubg.png") top left no-repeat;display:none;}
.opmenu ul {display:block;padding:5px 5px 2px;margin:0 !important;list-style:none;}
.opmenu ul li {float:none;margin:0;padding:0;list-style:none;}
.opmenu ul li a {text-shadow:none;float:none;text-align:left;width:100px;margin:0;padding:5px 5px;background-image:none;display:block;border-bottom:1px solid #dedede;font:bold 11px tahoma;color: #333;text-decoration:none;outline:none;}
.opmenu ul li a:hover {color:#fff;background-color:#1785cd;padding-top:4px;border-top:1px solid #1068a1;border-bottom:1px solid #1068a1;}
.opmenu ul li:last-child a {border-bottom:0;}
.opmenu .foot {position:absolute;left:0;bottom:-3px;width:120px;height:3px;background: url("../images/opmenubg.png") bottom left no-repeat;}

.mytable{ border-left:1px solid #dce0e5; border-top:1px solid #dce0e5; margin:0px 0px 24px; font-size:14px; width:100% }
.mytable td { font-size:12px }
.mytable tr.alternate {  }
.mytable tr.alternate th {  }
.mytable td, .mytable th { padding:5px 12px; border-right:1px solid #dce0e5; border-bottom:1px solid #dce0e5 }
.mytable th { background-color:#f4f7fa; font-weight:bold; text-shadow:0px 1px 0px #fff }
.mytable th.flat { background-color:#fbfdff; font-weight:bold }

/* stats table */
table.graph {width:100%;}
table.graph td, table.graph th {text-align: center;border: 1px solid #ddd;padding:7px 14px;}
table.graph th {background-color:#f4f4f4;}
caption {margin: 0 0 .5em;font-weight: bold;}